/*
CLAS Template
Main css for CLAS web site
Version: 1.1
Fixes for IE 11 compatibility
*/


* {
	margin:0;
	padding:0;
}

body {
	background: url(../images/bg.gif) repeat-x;
	text-align: center;
}

a {
text-decoration:none;
}

a:link,a:visited {
	color:#0021a5;
	font-size: None;
}

a:hover,a:active {
color:#ff4a00;
}

acronym {
border:0;
font-style:normal;
}

h1#dept {
position: relative;
height: 50px;
width: 285px;
font-size: 14px;
/* \*/
overflow: hidden;
/* */
}

h1#dept a span {
position: absolute;
top: 0;
left: 0;
display: block;
background: url(../images/unitHeader.gif);
width: 100%;
height: 100%;
} 

h2#uf{
font-size: 14px;
width: 155px;
height: 50px;
top:0;
left: 600px;
position: absolute;
/*\*/overflow: hidden;
font-size: 14px;/**/
}

h2#uf a span{
background-image: url(../images/universityOfFlorida.gif);
top:0;
left:0;
display:block;
position: absolute;
width: 155px;
height: 40px;
font-size: 1px;
cursor: pointer;
}

h3,h4 {
font-weight:400;
}

p,li {
	color:#444;
	font-size:12px;
	font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

ul {
list-style:none;
}

#content {
	background:#FFF;
	float:right;
	position:relative;
	width:516px;
	z-index:5;
	padding-bottom: 12px;
	min-height: 200px;
	padding-top: 0px;
	padding-right: px;
	padding-left: px;
}

#content h3,#secondc h3 {
	font-size:18px;
	margin:5px 0 4px 12px;
	color: #000066;
}

#content h4,#secondc h4 {
	color:#0066CC;
	font:normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 13px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #0066CC;
	padding-top: 5px;
}
#content h5,#secondc h5 {
	color:#000000;
	font:normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 13px;
padding-top: 5px;
}
#content h5,#secondc h5 {
	color:#000000;
	font:normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 13px;
padding-top: 5px;
}
#content h6 {
	color:#000000;
	font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 13px;
	padding-top: 5px;
	letter-spacing: 2px;
}

#secondc h6 {
	color:#000000;
	font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 0px;
	padding-top: 5px;
	letter-spacing: 1px;
}

#content ul {
margin: 10px;
}

#content li {
	line-height: 22px;
	list-style:disc;
	margin:6px 0 6px 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
}

#content li li {
padding:0 5px 0 20px;
}

#content p,#secondc p {
	line-height:22px;
	margin:2px 10px 15px 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
}

#content p a {
border-bottom:1px dotted #0021A5;
}

#content li a {
border-bottom:1px dotted #0021A5;
}

#content li a:link {
color:#24b;
}

#content li a:visited, {
color:#24b;
}

#content p a:link,#content p a:visited {
color:#24b;
}

#content li a:hover {
color:#f40;
}

#content li a:active, {
color:#f40;
}

#content p a:hover,#content p a:active {
color:#f40;
}

#content p#listing {
letter-spacing:-1px;
padding-top:15px;
text-align:center;
}

#content ul {
margin:15px;
}

#footer {
	background-color:#FFFFFF;
	clear:both;
	color:#FFFFFF;
	height:50px;
	padding:10px 0 25px;
	position:relative;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}


#footer li {
border-right:1px solid #000066;
display:inline;
/*\*/float:left;/**/
font-size:100%;
margin-right:4px;
padding-right:4px;
}

#footer ul,#footer p {
	clear:both;
	float:left;
	font-size:60%;
	line-height:1.4em;
	width:550px;
	color: #000066;
}

/*\*/#footerHome span {
	background:url(../images/uf_large.gif) no-repeat 0 0;
	height:62px;
	position:absolute;
	right:0;
	top:10px;
	width:188px;
	background-image: url(../images/uf_large.gif);
}/**/

#header {
	height:50px;
	margin:0 auto;
	position:relative;
	text-align:left;
	width:760px;
	background-color: #000066;
}

#mainContainer {
	background-color: #006699;
	margin:0 auto;
	padding:0 0px;
	position:relative;
	text-align:left;
	width:760px;
}

/* \*/* html #mainContainer {
background-position: 249px 0;
}/* */

#priNav {
	position:relative;
	top:0;
	width:240px;
	z-index: 4;
	background-color: #006699;
}

#priNav h2,#footer h3 {
display:none;
}

#priNav h3 {
background:url(../images/pointer.gif) no-repeat 0 11px;
font:normal 115% Trebuchet MS, Arial, Helvetica, sans-serif;
letter-spacing:1px;
}

#priNav li {
	float:left;
	font:14px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #336699;
	width:220px;
}

#priNav li a, #priNav #active {
background:url(../images/pointer_small.gif) no-repeat 10px 11px;
border-bottom:1px dotted #999999;
color:#FFFFFF;
display:block;
letter-spacing:1px;
padding:5px 0px 5px 20px;
width:220px;
}

#priNav p a,#priNav p #active {
color:#FFFFFF;
letter-spacing:1px;
width:220px;
}

/*\*/* html #priNav li a, * html #priNav #active{
width:220px;
}/**/

#priNav #active {
color: #003300;
}

#priNav li a:hover {
	color: #FFFFFF;
}

#priNav li a:visited {
	color: #FFFFFF;
}

#priNav a:hover, #priNav a {
	color: #99CCFF;
}

#priNav #active {
}

#priNav form {
	padding-top: 2px;
	padding-left: 20px;
	width: 220px;
}

#priNav li a:hover {
background-color:#003366;
}

#priNav h4 {
	background:url(../images/pointer_small.gif) no-repeat 9px 17px;
	clear:left;
	letter-spacing:1px;
	padding:12px 0px 0 20px;
	font:14px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #FFFFCC;
	width: 220px;
}

#priNav p {
	letter-spacing:1px;
	padding:7px 0px 0 20px;
	font:12px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	width: 220px;
}

#footer a:link,a:visited {
	color: #000066;
	text-decoration: none;
}
#footer a:hover {
color: #FF6600;
}

#secHeader {
height:194px;
margin-bottom:14px;
position:relative;
width:516px;
}

#secHeader span {
height:100%;
position:absolute;
width:100%;
}
#navcontainer {
    left:0px;
	padding:0px 0px 0;
	position:absolute;
	width:230px;
	float: left;
	z-index: 4;
	height: 532px;
}
* html #related li {
float:none;
}
h3#unit {
font-size: 14px;
width: 240px;
height: 110px;
top:0px;
left: 0px;
position: relative;
/*\*/overflow: hidden;
font-size: 14px;/**/
}
h3#unit a span {
background-image: url(../images/bobgraham.jpg);
top:0;
left:0;
display:block;
position: absolute;
width: 244px;
height: 110px;
font-size: 1px;
cursor: pointer;
}
#secondc {
	float: right;
	width: 240px;
	padding-top: 0px;
	background-color: #FFFFFF;
	padding-bottom: 8px;
}
#callout {
	float: right;
	width: 240px;
	padding-top: 0px;
	background-color: #F1F1F1;
	padding-bottom: 8px;
	margin-left: 6px;
}
#callout2 {
	float: left;
	width: 240px;
	padding-top: 0px;
	background-color: #F1F1F1;
	padding-bottom: 8px;
	margin-left: 6px;	
}
#photos, #photos2 {
	float: right;
	width: 180px;
	padding-top: 0px;
	background-color: #FFFFFF;
	padding-bottom: 8px;
}

#photos p, #photos2 p {
	font:normal 12px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
	padding-bottom: 5px;
}
#secondc h6 {
	font-size: 11px;
	font-family: Georgia, Time, serif;
	font-weight: normal;
	padding-left: 14px;
}
#flash {
	width: 516px;
	height: 252px;
	overflow: hidden;
	background-image: url(../images/temp.jpg);
	background-position: top;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#priNav a, #priNav a:visited {
color:#FFFFCC;
letter-spacing:1px;
}
#over {
	padding-right: 8px;
	margin-right: 8px;
}
.calab {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-color: #CCCCCC;
	padding: 2px;
	margin: 2px;
	text-align: center;
	color: #666666;
	height: 18px;
}
.calmonth {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-color: #99CCFF;
	padding: 2px;
	margin: 2px;
	text-align: center;
	color: #000000;
}
.calon {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-color: #99CCFF;
	padding: 2px;
	margin: 2px;
	text-align: center;
}
.cala {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-color: #CCCCCC;
	padding: 2px;
	margin: 2px;
	text-align: center;
	height: 18px;
}
#grants p {
	font:normal 10px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
	padding-bottom: 5px;
}
.calh {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-color: #FFCC66;
	padding: 2px;
	margin: 2px;
	text-align: center;
}
#convocation {
	background-color: #E2EAF0;
	float: right;
	width: 125px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 5px;
}
#article-callout {
	float: right;
	width: 200px;
	padding-top: 15px;
	background-color: #DAF1F7;
	padding-bottom: 2px;
	background-image: url(../images/news/article-pointer.jpg);
	background-repeat: no-repeat;
	background-position: top;
	margin: 5px 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-right-width: 5px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#article-callout p, #article-callout-no p {
	font:normal 12px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
	padding-bottom: 2px;
}
#article-callout h5, #article-callout-no h5 {
	font:normal 14px/20px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	padding-bottom: 0px;
	background-color: #C6E8F2;
	margin: 0px 0px 10px;
	padding-top: 0px;
	padding-right: 13px;
	padding-left: 13px;
	border-top: 5px solid #FFFFFF;
}
#linkhighlight h4 {
	background-color: #FFCC66;
	margin: 15px 10px;
	padding: 5px;
	width: auto;
	font-size:18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#linkhighlight a:link, #linkhighlight a:visited {
	color: #003366;
	margin: 0px;
	padding: 0px 0px 0px 15px;
	width: auto;

}
#linkhighlight a:hover {
	color: #CC6600;
    margin: 0px;
	padding: 0px 0px 0px 15px;	width: 300px;
}#article-callout h6 {
	color:#000000;
	font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px 0 5px 0px;
	padding-top: 0px;
	letter-spacing: 1px;
	padding-left: 12px;

}

#share a:link, #share a:visited {
	text-decoration: none;
	border-style:none;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#mainContainer #content #columns {
	width: 516px;
	float: none;
	padding: 0px 6px 0px 12px;
	clear: both;
	margin: 0px 0px 12px;
}
#mainContainer #content #columns #atc {
	width: 265px;
	margin-right: 4px;
	float: left;
	background-color: #DDDDDD;
	height: 250px;
}
#mainContainer #content #columns #inthenews {
	width: 225px;
	margin-left: 4px;
	float: left;
	background-color: #DDDDDD;
	height: 250px;
}
#mainContainer #content #columns #inthenews p {
	font:normal 12px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
	padding-bottom: 2px;
}
#mainContainer #content #columns #atc p {
	font:normal 12px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
	padding-bottom: 2px;
}
#mainContainer #content #columns #inthenews h5 {
	font:normal 14px/20px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	padding-bottom: 0px;
	background-color: #CBCBCB;
	margin: 0px 0px 10px;
	padding-top: 0px;
	padding-right: 13px;
	padding-left: 13px;
	border-top: 5px solid #FFFFFF;
}	
#mainContainer #content #columns #atc h5 {
	font:normal 14px/20px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	padding-bottom: 0px;
	background-color: #CCCCCC;
	margin: 0px 0px 10px;
	padding-top: 0px;
	padding-right: 13px;
	padding-left: 13px;
	border-top: 5px solid #FFFFFF;
}
div.clear { clear: both; }
#article-callout-no {
	float: right;
	width: 200px;
	padding-top: 0px;
	background-color: #DAF1F7;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: top;
	margin: 10px 0px 5px;
	padding-right: 0px;
	padding-left: 0px;
	border-right-width: 5px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

p.indent{
margin-left:20px;
}
		#sm-form form {
			margin: 0 auto;
			}
			
			#sm-form fieldset {
			margin:1em;
			padding: 1em;
			border: 0;
			border-top: 1px solid #ddd;
			margin-bottom:2em;
			}
			
			#sm-form fieldset fieldset {
			background-color: #eee;
			padding-left: 2em;			
			}
			
			#sm-form legend {
			font-size: 100%;
			border: 1px solid #ddd;
			padding: 2px 1em;
			background-color: #eee;
			}
			
			#sm-form legend span {
			display: block;
			padding: 2px;
			}
			
			#sm-form label {
			font-size: 90%;
			}
			
			#sm-form em {
			color: #8c8c8c;
			font-size: .7em;
			}
			
			#sm-form input {
			margin-bottom: 1em;
			}
			/* simple css-based tooltip */ 
			div.tooltip { 
			background-color:#000; 
			border:1px solid #fff; 
			padding:10px 15px; 
			width:200px; 
			display:none;
			color:#fff; 
			text-align:left; 
			font-size:12px; 
			
			/* outline radius for mozilla/firefox only */ 
			-moz-box-shadow:0 0 10px #000; 
			-webkit-box-shadow:0 0 10px #000; 
			}
.major {
	padding: 10px;
	float: left;
	height: 120px;
	width: 135px;
	background-color: #EAF5F8;
	margin-left: 15px;
	margin-bottom: 15px;
}

.majorcat {
	padding: 10px;
	float: left;
	height: 180px;
	width: 210px;
	background-color: #EAF5F8;
	margin-left: 15px;
	margin-bottom: 15px;
}



.major a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration:none;  
}
.major a:hover {
	color: #FF6600;
}
.major h5 {
	margin-left: 0px;
}
#mainContainer #content .CollapsiblePanelContent ul {
	margin-top: 6px;
	margin-bottom: 6px;
}
#mainContainer #content .CollapsiblePanelContent li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}#mainContainer #content .CollapsiblePanelContent p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
#article-callout-major {
	float: right;
	width: 185px;
	padding-top: 0px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: top;
	margin: 10px 0px 5px;
	padding-right: 0px;
	padding-left: 0px;
	border-right-width: 5px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}


/* jQuery slideshow styles */
#featured {
	width: 516px;
	overflow: hidden;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#featured.slideshow, .slideshow .featured-item {
	width: 516px;
	height: 256px;
	overflow: hidden;
}
#featured h4 {
	display: none;	
}
#featured a:link, 
#featured a:visited,
#featured a img {
	color: #fff;
	border: none;
}
#featured h5, #featured p {
	margin: 0;
	padding: 6px 0 6px 10px;
	color: #fff;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
#featured h5 {
	background-color: #6291c2;
	font-weight: bold;
	font-size: 13px;
}
#featured p {
	background-color: #587ea5;
	font-size: 12px;
	
}
.assistive-text {
	position: absolute;
	left: -9999px;
}

#footer a[href^="http://www.floridatomorrow.ufl.edu"] {display: none;}








 


	
	

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: justify;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	min-width: 0px;
	max-width: 760px;
	max-height: 600px;
	right: auto;
	bottom: auto;
	margin-left: 0px;
  }
	
	
	
	#slider {
		padding: 10px -10px -100px 10px;
		margin: -21px -20px -20px -40px; 
	}
